<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings>
    <setting propertyKey="@Properties.NightscoutUrl" title="@Strings.SettingNightscoutUrlTitle">
        <settingConfig type="alphaNumeric" maxLength="120"/>
    </setting>
    <setting propertyKey="@Properties.NightscoutSecret" title="@Strings.SettingNightscoutSecretTitle">
        <settingConfig type="alphaNumeric" maxLength="120"/>
    </setting>
    <setting propertyKey="@Properties.RawSecret" title="@Strings.SettingRawSecretTitle">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.ShowChart" title="@Strings.SettingShowChartTitle">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.Language" title="@Strings.SettingLanguageTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.LanguageEnglish</listEntry>
            <listEntry value="1">@Strings.LanguageKazakh</listEntry>
            <listEntry value="2">@Strings.LanguageKazakhLatin</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.GlucoseUnit" title="@Strings.SettingGlucoseUnitTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.UnitMmol</listEntry>
            <listEntry value="1">@Strings.UnitMgdl</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.VeryLowThreshold" title="@Strings.SettingVeryLowThresholdTitle">
        <settingConfig type="numeric" min="1.0" max="6.0"/>
    </setting>
    <setting propertyKey="@Properties.LowThreshold" title="@Strings.SettingLowThresholdTitle">
        <settingConfig type="numeric" min="2.0" max="8.0"/>
    </setting>
    <setting propertyKey="@Properties.HighThreshold" title="@Strings.SettingHighThresholdTitle">
        <settingConfig type="numeric" min="5.0" max="15.0"/>
    </setting>
    <setting propertyKey="@Properties.VeryHighThreshold" title="@Strings.SettingVeryHighThresholdTitle">
        <settingConfig type="numeric" min="6.0" max="25.0"/>
    </setting>
    <setting propertyKey="@Properties.Use12Hour" title="@Strings.SettingUse12HourTitle">
        <settingConfig type="boolean"/>
    </setting>
</settings>
