<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings>
    <setting propertyKey="@Properties.NightscoutUrl" title="@Strings.SettingNightscoutUrlTitle">
        <settingConfig type="alphaNumeric" maxLength="120"/>
    </setting>
    <setting propertyKey="@Properties.NightscoutSecret" title="@Strings.SettingNightscoutSecretTitle">
        <settingConfig type="alphaNumeric" maxLength="120"/>
    </setting>
    <setting propertyKey="@Properties.RawSecret" title="@Strings.SettingRawSecretTitle">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.ShowChart" title="@Strings.SettingShowChartTitle">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.Language" title="@Strings.SettingLanguageTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.LanguageEnglish</listEntry>
            <listEntry value="1">@Strings.LanguageKazakh</listEntry>
            <listEntry value="2">@Strings.LanguageKazakhLatin</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.GlucoseUnit" title="@Strings.SettingGlucoseUnitTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.UnitMmol</listEntry>
            <listEntry value="1">@Strings.UnitMgdl</listEntry>
        </settingConfig>
    </setting>
</settings>
